body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main_title { font-size:25px; font-weight:bold; border-bottom: 1px solid #a8a7a8; padding-bottom:20px;}

